.screen0 {
    .tu1 {
        position: absolute;
        top: 212rem/@baseFontSize;
        left: 0;
    }
    .tu2 {
        position: absolute;
        top: 410rem/@baseFontSize;
        left: 0;
    }
    .tu3 {
        position: absolute;
        top: 229rem/@baseFontSize;
        left: 0;
    }
    .tu4 {
        position: absolute;
        top: 620rem/@baseFontSize;
        left: 0;
    }
    .tu5 {
        width: 75rem/@baseFontSize;
        position: absolute;
        top: 443rem/@baseFontSize;
        right: 90rem/@baseFontSize;
    }
    .tu6 {
        width: 192rem/@baseFontSize;
        position: absolute;
        top: 717rem/@baseFontSize;
        right: 220rem/@baseFontSize;
    }
}

.screen1 {}