<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>一汽-大众</title>
		<link rel="stylesheet" type="text/css" href="lib/mui/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="lib/swiper/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="lib/swiper/css/animate.min.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/index.css"/>-->

		<!--生产环境less-->
		<link rel="stylesheet" type="text/less" href="less/index.less" />
		<script src="lib/less/less.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--音乐-->
		<!--<audio id="musicStar" src="images/music.mp3" autoplay="true" preload="auto" loop="loop" style="display: none;"></audio>-->

		<div class="h5_container" id="app">

			<!--swiper-->
			<div class="swiper-container">

				<div class="swiper-wrapper">

					<div class="swiper-slide screen0">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="tu1 ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu1.png" />
								</div>
								<div class="tu2 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu2.png" />
								</div>
								<div class="tu3 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu3.png" />
								</div>
								<div class="tu4 ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu4.png" />
								</div>
								<div class="tu5 ani" swiper-animate-effect="screen0_tu5" swiper-animate-duration="0.6s" swiper-animate-delay="1s">
									<img src="images/00_tu5.png" />
								</div>
								<div class="tu6">
									<img src="images/00_tu6.png" @click="mySwiper.slideNext()" />
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide screen1">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<h2>请留下您的真实信息，<br />不然礼物会找不到回家的路~</h2>
								<form action="">
									<h2>您的姓名：</h2>
									<input type="text" name="name" v-model="name" autocomplete="off"/>
									<h2>您的手机号：</h2>
									<input type="text" name="phone" v-model="phone" autocomplete="off"/>
								</form>
								<div class="global_xyb">
									<img src="images/global_xyb.png" @click="nextPage2(name,phone)" />
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide screen2">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>您是如何找到我们的？</h2>
									<ul>
										<li @click="radioClick($event);setFindUs('A')"><span>□</span>靠自己搜索关注 </li>
										<li @click="radioClick($event);setFindUs('B')"><span>□</span>靠朋友推荐关注</li>
										<li @click="radioClick($event);setFindUs('C')"><span>□</span>靠售后人员提醒关注</li>
										<li @click="radioClick($event);setFindUs('D')"><span>□</span>靠胖圈活动扫码关注</li>
										<li @click="radioClick($event);setFindUs('');findUsInputFlag=true"><span>□</span>小编不造的渠道</li>
										<transition name="input">
											<input type="text" v-if="findUsInputFlag" v-model="findUs" placeholder="请输入..." autocomplete="off"/>
										</transition>
									</ul>
									<transition>
										<div class="go">
											<img src="images/global_syt.png" @click="prevPage" />
											<img src="images/global_xyt.png" @click="nextPage(findUs)" />
										</div>
									</transition>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide screen3">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h3>请赐给我们一个深入了解您的机会~</h3>
									<h2>1、您的性别是？</h2>
									<ul>
										<li @click="radioClick($event);user1='男'" style="font-size: 1rem;color: #3469c0;"><span style="margin-top: 0.5rem;">□</span>♂</li>
										<li @click="radioClick($event);user1='女'" style="font-size: 1rem;color: #c14694;"><span style="margin-top: 0.5rem;">□</span>♀</li>
									</ul>
									<transition>
										<div class="go">
											<img src="images/global_syt.png" @click="prevPage" />
											<img src="images/global_xyt.png" @click="nextPage(user1)" />
										</div>
									</transition>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide screen4">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								4
							</div>
						</div>
					</div>
					<div class="swiper-slide screen5">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								4
							</div>
						</div>
					</div>
					<div class="swiper-slide screen6">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								4
							</div>
						</div>
					</div>
					<div class="swiper-slide screen7">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								4
							</div>
						</div>
					</div>
					<div class="swiper-slide screen8">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								4
							</div>
						</div>
					</div>

				</div>

				<!-- 如果需要导航按钮 -->
				<!--<div class="swiper-button-prev swiper-button-black"></div>
				<div class="swiper-button-next swiper-button-black"></div>-->

			</div>
		</div>

		<!--<script src="lib/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="lib/mui/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/swiper/js/swiper.animate1.0.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>