<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>一汽-大众</title>
		<link rel="stylesheet" type="text/css" href="lib/mui/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="lib/swiper/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="lib/swiper/css/animate.min.css" />
		<!--<link rel="stylesheet" type="text/css" href="css/index.css"/>-->

		<!--生产环境less-->
		<link rel="stylesheet" type="text/less" href="less/index.less" />
		<script src="lib/less/less.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--音乐-->
		<!--<audio id="musicStar" src="images/music.mp3" autoplay="true" preload="auto" loop="loop" style="display: none;"></audio>-->

		<div class="h5_container" id="app">

			<!--swiper-->
			<div class="swiper-container">

				<div class="swiper-wrapper">

					<div class="swiper-slide swiper-no-swiping  screen0">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="tu1 ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu1.png" />
								</div>
								<div class="tu2 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu2.png" />
								</div>
								<div class="tu3 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu3.png" />
								</div>
								<div class="tu4 ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="1s" swiper-animate-delay="0s">
									<img src="images/00_tu4.png" />
								</div>
								<div class="tu5 ani" swiper-animate-effect="screen0_tu5" swiper-animate-duration="0.6s" swiper-animate-delay="1s">
									<img src="images/00_tu5.png" />
								</div>
								<div class="tu6">
									<img src="images/00_tu6.png" @click="mySwiper.slideNext()" />
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen1">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<h2>请留下您的真实信息，<br />不然礼物会找不到回家的路~</h2>
								<form action="">
									<h2>您的姓名：</h2>
									<input type="text" name="name" v-model="name" autocomplete="off" />
									<h2>您的手机号：</h2>
									<input type="text" name="phone" v-model="phone" autocomplete="off" />
								</form>
								<div class="global_xyb">
									<img src="images/global_xyb.png" @click="nextPage2(name,phone)" />
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen2">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>您是如何找到我们的？</h2>
									<ul>

										<li @click="radioClick($event);setFindUs('A')"><span>□</span>靠自己搜索关注 </li>
										<li @click="radioClick($event);setFindUs('B')"><span>□</span>靠朋友推荐关注</li>
										<li @click="radioClick($event);setFindUs('C')"><span>□</span>靠售后人员提醒关注</li>
										<li @click="radioClick($event);setFindUs('D')"><span>□</span>靠胖圈活动扫码关注</li>
										<li @click="radioClick($event);setFindUs('');findUsInputFlag=true"><span>□</span>小编不造的渠道</li>

										<input type="text" v-if="findUsInputFlag" v-model="findUs" placeholder="请输入..." autocomplete="off" />

									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(findUs)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen3">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h3>请赐给我们一个深入了解您的机会~</h3>
									<h2>1、您的性别是？</h2>
									<ul>
										<li @click="radioClick($event);user1='男'" style="font-size: 1rem;color: #3469c0;"><span style="margin-top: 0.5rem;">□</span>♂</li>
										<li @click="radioClick($event);user1='女'" style="font-size: 1rem;color: #c14694;"><span style="margin-top: 0.5rem;">□</span>♀</li>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(user1)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen4">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>2、您的年龄是？ </h2>
									<ul>
										<li @click="radioClick($event);user2='A'"><span>□</span>18岁以下的未成年宝宝</li>
										<li @click="radioClick($event);user2='B'"><span>□</span>18-29岁的稚嫩鲜肉</li>
										<li @click="radioClick($event);user2='C'"><span>□</span>30-39岁的社会精英</li>
										<li @click="radioClick($event);user2='D'"><span>□</span>40-49岁的中流砥柱</li>
										<li @click="radioClick($event);user2='E'"><span>□</span>49岁以上的尊贵老干部</li>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(user2)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen5">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>3、您的最高学历是？ </h2>
									<ul>
										<li @click="radioClick($event);user3='A'"><span>□</span>自学成才</li>
										<li @click="radioClick($event);user3='B'"><span>□</span>高中及以下</li>
										<li @click="radioClick($event);user3='C'"><span>□</span>本科</li>
										<li @click="radioClick($event);user3='D'"><span>□</span>硕士</li>
										<li @click="radioClick($event);user3='E'"><span>□</span>博士及以上</li>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(user3)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen6">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>4、您的爱车到位了吗？</h2>
									<ul>
										<transition-group>

											<li :key="1" @click="radioClick($event);user4='';user4InputFlag=true"><span>□</span>已到位，我是一汽-大众车主</li>
											<input :key="5" type="text" v-if="user4InputFlag" v-model="user4" placeholder="您的爱车是一汽-大众?(填写车型)" autocomplete="off" />
											<li :key="2" @click="radioClick($event);user4='B';user4InputFlag=false"><span>□</span>已到位，我是其他品牌车主</li>
											<li :key="3" @click="radioClick($event);user4='C';user4InputFlag=false"><span>□</span>指标在手，正在寻找合眼缘的座驾</li>
											<li :key="4" @click="radioClick($event);user4='D';user4InputFlag=false"><span>□</span>客观原因，暂时不考虑买车</li>

										</transition-group>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(user4)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen7">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>5、您与爱车相伴几年？</h2>
									<ul>
										<li @click="radioClick($event);user5='A'"><span>□</span>不到一年，新婚燕尔</li>
										<li @click="radioClick($event);user5='B'"><span>□</span>二到五年，你侬我侬</li>
										<li @click="radioClick($event);user5='C'"><span>□</span>六到十年，老夫老妻</li>
										<li @click="radioClick($event);user5='D'"><span>□</span>十年以上，灵魂伴侣</li>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(user5)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen8">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>6、请透露一下您的驾龄？</h2>
									<ul>
										<li @click="radioClick($event);user6='A'"><span>□</span>从未上路的襁褓婴儿</li>
										<li @click="radioClick($event);user6='B'"><span>□</span>1年以内的生瓜蛋子</li>
										<li @click="radioClick($event);user6='C'"><span>□</span>2-5年的半熟车手</li>
										<li @click="radioClick($event);user6='D'"><span>□</span>5年以上的纯熟老司机</li>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(user6)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen9">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>7、勾选符合您的兴趣标签<br/><small>[多选题]</small></h2>
									<ul class="mui-clearfix">
										<li @click="checkBoxClick($event);setUser7('A')"><span>□</span>背包远行</li>
										<li @click="checkBoxClick($event);setUser7('B')"><span>□</span>吃遍四方</li>
										<li @click="checkBoxClick($event);setUser7('C')"><span>□</span>汽车文化</li>
										<li @click="checkBoxClick($event);setUser7('D')"><span>□</span>历史民俗</li>
										<li @click="checkBoxClick($event);setUser7('E')"><span>□</span>健身撸铁</li>
										<li @click="checkBoxClick($event);setUser7('F')"><span>□</span>娱乐八卦</li>
										<li @click="checkBoxClick($event);setUser7('G')"><span>□</span>电子竞技</li>
										<li @click="checkBoxClick($event);setUser7('H')"><span>□</span>极限运动</li>
										<li @click="checkBoxClick($event);setUser7('I')"><span>□</span>吸猫铲屎</li>
										<li @click="checkBoxClick($event);setUser7('J')"><span>□</span>前瞻科技</li>
										<li @click="checkBoxClick($event);setUser7('K')"><span>□</span>其他</li>
									</ul>
									<div class="go" style="margin-top: 0;">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage3(user7)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen10">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h3>您的心之所向，<br/>就是我们努力的方向~</h3>
									<h2>1、您喜欢“一汽-大众客户俱乐部”的推送内容么？</h2>
									<ul>
										<li @click="radioClick($event);idea1='A';idea1InputFlag=false"><span>□</span>喜欢</li>
										<li @click="radioClick($event);idea1='';idea1InputFlag=true"><span>□</span>不喜欢，原因</li>

										<input type="text" v-if="idea1InputFlag" v-model="idea1" placeholder="原因..." autocomplete="off" />
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(idea1)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen11">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>2、您希望在“一汽-大众客户俱乐部”的公众号上看到什么内容？<small>[多选题]</small></h2>
									<ul>
										<li @click="checkBoxClick($event);setidea2('A')"><span>□</span>用车养车相关知识</li>
										<li @click="checkBoxClick($event);setidea2('B')"><span>□</span>真实车主故事</li>
										<li @click="checkBoxClick($event);setidea2('C')"><span>□</span>一汽大众售后优惠信息</li>
										<li @click="checkBoxClick($event);setidea2('D')"><span>□</span>新车型介绍</li>
										<li @click="checkBoxClick($event);setidea2('E')"><span>□</span>国家关于汽车方面颁布的政策消息</li>
										<li @click="checkBoxClick($event);setidea2('F')"><span>□</span>有奖互动游戏</li>
										<li @click="checkBoxClick($event);setidea2('G')"><span>□</span>企业新闻</li>
										<li @click="checkBoxClick($event);setidea2('H')"><span>□</span>小编没想到的其他内容</li>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage3(idea2)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen12">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>3、“一汽-大众客户俱乐部”给您印象最深的一篇推文内容是关于哪方面的？</h2>
									<ul>
										<li @click="radioClick($event);idea3='A';idea3InputFlag=false"><span>□</span>爱车课堂</li>
										<li @click="radioClick($event);idea3='B';idea3InputFlag=false"><span>□</span>保养计划</li>
										<li @click="radioClick($event);idea3='C';idea3InputFlag=false"><span>□</span>车主故事</li>
										<li @click="radioClick($event);idea3='D';idea3InputFlag=false"><span>□</span>促销信息</li>
										<li @click="radioClick($event);idea3='E';idea3InputFlag=false"><span>□</span>有奖互动</li>
										<li @click="radioClick($event);idea3='';idea3InputFlag=true"><span>□</span>以上都不是，我印象深的内容是</li>

										<input type="text" v-if="idea3InputFlag" v-model="idea3" placeholder="我印象深的内容是..." autocomplete="off" />
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(idea3)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen13">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>4、您比较中意哪种内容形式？</h2>
									<ul>
										<li @click="radioClick($event);idea4='A';idea4InputFlag=false"><span>□</span>字多</li>
										<li @click="radioClick($event);idea4='B';idea4InputFlag=false"><span>□</span>图多字少</li>
										<li @click="radioClick($event);idea4='C';idea4InputFlag=false"><span>□</span>视频或gif图</li>
										<li @click="radioClick($event);idea4='';idea4InputFlag=true"><span>□</span>以上都不喜欢，我喜欢</li>

										<input type="text" v-if="idea4InputFlag" v-model="idea4" placeholder="我喜欢..." autocomplete="off" />
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(idea4)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen14">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>5、一汽-大众售后服务给您的印象是？</h2>
									<ul>
										<li @click="radioClick($event);idea5='A';idea5InputFlag=false"><span>□</span>稍显毛躁但热情有冲劲</li>
										<li @click="radioClick($event);idea5='B';idea5InputFlag=false"><span>□</span>踏实肯干，求真务实</li>
										<li @click="radioClick($event);idea5='C';idea5InputFlag=false"><span>□</span>一切用技术说话</li>
										<li @click="radioClick($event);idea5='';idea5InputFlag=true"><span>□</span>以上都不是，我要吐槽</li>

										<input type="text" v-if="idea5InputFlag" v-model="idea5" placeholder="我要吐槽..." autocomplete="off" />
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(idea5)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen15">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>6、请留下您对“一汽-大众客户俱乐部”的意见或建议？（这对我们很重要）</h2>
									<textarea name="" rows="8" cols="" v-model="idea6" placeholder="意见或建议..." autocomplete="off"></textarea>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(idea6)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen16">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h3>请偷偷告诉我们，您的阅读小癖好~</h3>
									<h2>1、你在哪个时间段看微信文章比较多？</h2>
									<ul>
										<li @click="radioClick($event);read1='A'"><span>□</span>早晨：6-8时</li>
										<li @click="radioClick($event);read1='B'"><span>□</span>上午：8-10时</li>
										<li @click="radioClick($event);read1='C'"><span>□</span>中午：10-13时</li>
										<li @click="radioClick($event);read1='D'"><span>□</span>下午：13-17时</li>
										<li @click="radioClick($event);read1='E'"><span>□</span>傍晚：17-20时</li>
										<li @click="radioClick($event);read1='F'"><span>□</span>夜间：20-24时</li>
										<li @click="radioClick($event);read1='G'"><span>□</span>半夜：凌晨12点以后</li>
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(read1)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen17">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>2、什么样的微信文章会让您有转发的欲望？</h2>
									<ul>
										<li @click="radioClick($event);read2='A';read2InputFlag=false"><span>□</span>内容有趣的</li>
										<li @click="radioClick($event);read2='B';read2InputFlag=false"><span>□</span>实用有价值的</li>
										<li @click="radioClick($event);read2='C';read2InputFlag=false"><span>□</span>新奇少见的</li>
										<li @click="radioClick($event);read2='D';read2InputFlag=false"><span>□</span>紧跟热点的</li>
										<li @click="radioClick($event);read2='';read2InputFlag=true"><span>□</span>以上都不是，我转发是因为</li>

										<input type="text" v-if="read2InputFlag" v-model="read2" placeholder="我转发是因为..." autocomplete="off" />
									</ul>
									<div class="go">
										<img src="images/global_syt.png" @click="prevPage" />
										<img src="images/global_xyt.png" @click="nextPage(read2)" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping  screen18">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="global_bg">
									<img src="images/global_bg.jpg" />
								</div>
								<div class="box">
									<h2>3、你印象最深的企业官方微信公众号是</h2>
									<input type="text" v-model="read3a" placeholder="微信公众号名称" autocomplete="off" />
									<h2>理由是</h2>
									<input type="text" v-model="read3b" placeholder="理由" autocomplete="off" />
									<div class="go">
										<img src="images/global_submit.png" @click="submit" />
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- 如果需要导航按钮 -->
				<!--<div class="swiper-button-prev swiper-button-black"></div>
				<div class="swiper-button-next swiper-button-black"></div>-->

			</div>
		</div>

		<!--<script src="lib/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="lib/mui/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/swiper/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/swiper/js/swiper.animate1.0.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>